.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #3A1C71;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 25%;
  padding: 20px;
  color: white;
}

.card{
  width: 33%;
  display: inline-block;
  font-family: 'Economica', sans-serif;
  font-size: 1.8em;
  padding: 40px;
  margin-top: 16px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

img {
  vertical-align: middle;
  margin-left: 10px;
}

input[type=text] {
  margin-left: 10px;
  font-family : inherit;
  font-size   : 100%;
}


.company-name{
  font-size: 1.5em;
  vertical-align: middle;
  margin-bottom: 5px;
}

.company-info{
  font-size: 0.8em;
  font-family: 'Economica', sans-serif;
}

.company-info-tags{
  font-size: 0.5em;
  font-family: 'Economica', sans-serif;
}

.hashtags-container{
  font-size: 0.5em;
  font-family: 'Economica', sans-serif;
}

.tag-list{
  list-style-type: none;
  text-align: initial;
  display: inline;
  font-size: 0.6em;
}

.searchbar-container{
  margin-top: 10px;
  font-size: 1.8em;
  font-family: 'Economica', sans-serif;
}

.App-title {
  font-size: 2.5em;
  font-family: 'Economica', sans-serif;
}

.App-subtitle{
  font-size: 1.0em;
  font-family: 'Economica', sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
